<div fxLayout="column" fxFlex>

    <mat-toolbar color="primary">
      <mat-toolbar-row>
        <span>Dynamic Mock Backend</span>
      </mat-toolbar-row>
    </mat-toolbar>
    <mat-sidenav-container fxFlex>
      <mat-sidenav mode="side" opened>
      </mat-sidenav>
      <div class="content" fxLayout="column" fxLayoutGap="20px">          
            <mat-card *ngFor="let apiInfo of apiCollection$ | async">
                <mat-card-header>
                    <mat-card-title>{{ apiInfo.apiGeneralData.apiName }}</mat-card-title>
                    <mat-card-subtitle><strong>{{ apiInfo.apiGeneralData.method | uppercase }}</strong> {{ apiInfo.apiGeneralData.url}} </mat-card-subtitle>
                  </mat-card-header>
                  <mat-card-content>
                        <mat-radio-group [(ngModel)]="apiInfo.apiGeneralData.currentSelection" (change)="onStateChange(apiInfo?.apiDocId, apiInfo.apiGeneralData.currentSelection)">
                            <mat-radio-button *ngFor="let responseInfo of apiInfo.apiResponsesData$ | async" [value]="responseInfo.description">
                              {{responseInfo.description }}
                            </mat-radio-button>
                          </mat-radio-group>
                    </mat-card-content>
              </mat-card>
      </div>
    </mat-sidenav-container>
  </div>