<div fxLayout="column" fxFlex>

    <mat-toolbar color="primary">
      <mat-toolbar-row>
        <span>Angular Material</span>
      </mat-toolbar-row>
    </mat-toolbar>
  
    <mat-sidenav-container fxFlex>
      <mat-sidenav mode="side" opened>
        Welcome
      </mat-sidenav>
      <div class="content" fxLayout="column" fxLayoutGap="20px">          
            <mat-card *ngFor="let activateState of states | async">
                <mat-card-header>
                  <mat-card-title>{{ activateState?.id }}</mat-card-title>
                  <!-- <mat-card-subtitle><strong>{{ activateState?.data?.state}}</strong></mat-card-subtitle> -->
                </mat-card-header>
                <mat-card-content>
                  <!-- {{ activateState.apiStates | async | json }} -->
                    <mat-radio-group class="example-radio-group" [(ngModel)]="activateState.data.state">
                        <mat-radio-button class="example-radio-button" *ngFor="let availableState of activateState.apiStates | async" [value]="availableState.state">
                          {{availableState.state}}
                        </mat-radio-button>
                      </mat-radio-group>
                </mat-card-content>
              </mat-card>
      </div>
    </mat-sidenav-container>
  </div>